<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ game.name }} - Game Details</title>
    {% load static %}
    <!-- Add Bootstrap CSS via CDN -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container-fluid my-4">
        <div class='row' style='background-color: black;'>
            <img src="{% static 'gamesetwebapp/images/icon.png' %}" class='gameset-icon'> 
            <!-- Navigation Bar -->
            <nav class="navbar navbar-expand-sm navbar-dark">
                <!-- Menu options-->
                <ul class="navbar-nav">
                    <li class="nav-item"><a class='nav-link' href="{% url 'index' %}">Home</a></li>
                    <li class="nav-item"><a class='nav-link' href="#">Trend</a></li>
                    <li class="nav-item"><a class='nav-link' href="#">About</a></li>
                </ul>
            </nav>
        </div>
        
        <!-- Game descriptions -->
        <h1>{{ game.name }}</h1>
        <img src="{{ game.background_image }}" alt="{{game.name}}" class="card-img-top">

        <div class="game-details">
            <h3>Description:</h3>
            
            <p>{{ game.description|striptags }}</p> <!-- Removes all HTML tags from the description -->
            
            <h4>Rating:</h4>
            <p>
                {% if game.rating and game.rating != 0 %}
                    {{ game.rating }}
                {% else %}
                    Not Rated
                {% endif %}
            </p>

            <h5>Genre</h5>
            {% for genre in game.genres %}
                        {{ genre.name }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
            
            
            
        </div>

        <div class="back-button">
            <button type="button" class="btn btn-outline-primary "><a href="{% url 'index' %}">Back to Game List</a>  <!-- Link to go back to the index page -->
            </button>
            </div>
    </div>
</body>
</html>
